@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
/*
//COLORS 
navbar: #132f6d
background: #2e3455;
hero: #203b74
hero light: #284990
pale hero: #203b749f;
accent (pale): #5773be
accent2: #4988da
*/
body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', arial;
  background-image: -webkit-gradient(linear, left top, right top, from(#383c4e), color-stop(20%), to(#2e3455));
  background-image: linear-gradient(0.25turn, #383c4e, 20%, #2e3455);
}

.contentContainer {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #546074;
  border: 0;
  border-radius: 50 px;
}

body::-webkit-scrollbar-track {
  background-color: #263349;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background-image: -webkit-gradient(linear, left top, right top, from(#243d72), color-stop(30%), to(#132f6d));
  background-image: linear-gradient(0.25turn, #243d72, 30%, #132f6d);
}

.nav-container a {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

header .logo {
  color: white;
  font-weight: bold;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: block;
  padding: 0 1em;
}

.social-header {
  display: none;
}

.hero-design {
  display: none;
}

.hero {
  background-image: -webkit-gradient(linear, left top, right top, from(#304779), color-stop(50%), to(#203b74));
  background-image: linear-gradient(0.25turn, #304779, 50%, #203b74);
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: #ffffff;
}

.meet span {
  margin-top: 1em;
  margin-right: .5em;
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #E5D5FA;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #478eec;
  letter-spacing: .2em;
  font-size: .85em;
}

.subtitle2 {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  letter-spacing: .2em;
  font-size: .85em;
}

.featured-title {
  color: #4889dd;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -.4em;
  display: block;
}

.title2 {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -.4em;
  display: block;
}

.desc2 {
  color: black;
  margin-bottom: 3em;
  font-size: .9em;
  line-height: 1.8em;
  font-weight: 500;
}

.contactMe {
  color: black;
  margin-bottom: 3em;
  font-size: .9em;
  line-height: 1.8em;
  font-weight: 500;
}

.featured-desc {
  color: white;
  margin-bottom: 3em;
  font-size: .9em;
  line-height: 1.8em;
  font-weight: 500;
}

.right-transition2 {
  border-radius: 5%;
  -webkit-box-shadow: 2px 2px 5px #3d3d3d;
          box-shadow: 2px 2px 5px #3d3d3d;
}

.skills {
  background: #5773be;
}

.skills-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.skills-container ul li .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skills-container ul li .icon-container.one {
  width: 50px;
  border-radius: 20rem;
}

.skills-container ul li .icon-container.two {
  width: 100px;
}

.skills-container ul li .icon-container.three {
  width: 60px;
}

.skills-container ul li .skill-title {
  font-weight: bold;
}

.skills-container ul li .featured-desc {
  margin-bottom: 2em;
  color: black;
}

/*MISSION*/
.mission {
  background-image: -webkit-gradient(linear, left top, right top, from(#4a4f68), color-stop(50%), to(#2e3455));
  background-image: linear-gradient(0.25turn, #4a4f68, 50%, #2e3455);
}

.missionContainer {
  background-image: -webkit-gradient(linear, left top, right top, from(#79a1d6), color-stop(50%), to(#4988da));
  background-image: linear-gradient(0.25turn, #79a1d6, 50%, #4988da);
  -webkit-box-shadow: 2px 2px 5px #3d3d3d;
          box-shadow: 2px 2px 5px #3d3d3d;
  padding: 5em;
  border-radius: 1em;
  margin-bottom: 1em;
  margin-top: 1.6em;
}

.h3 {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -.4em;
  display: block;
}

:root {
  --bg: #ffffff;
  --color: rgb(62, 91, 172);
  --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

.wrapper {
  padding: 1.5rem 0;
  -webkit-filter: url("#goo");
          filter: url("#goo");
}

.button {
  display: inline-block;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#4c6eb9), color-stop(50%), to(#203b74));
  background: linear-gradient(0.25turn, #4c6eb9, 50%, #203b74);
  color: var(--bg);
  padding: 1em 1em 1em;
  line-height: 1;
  border-radius: 1em;
  position: relative;
  min-width: 8.23em;
  text-decoration: none;
  font-family: var(--font);
  font-size: 1.25rem;
}

.button:before,
.button:after {
  width: 4.4em;
  height: 2.95em;
  position: absolute;
  content: "";
  display: inline-block;
  background: var(--color);
  border-radius: 50%;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: -1;
}

.button:before {
  top: -25%;
  left: 20%;
}

.button:after {
  bottom: -25%;
  right: 20%;
}

.button:hover:before,
.button:hover:after {
  -webkit-transform: none;
          transform: none;
}

/*
.articleBtn:hover {
    color:#4988da;
    text-decoration: underline;
    text-decoration-color: #4988da;
}

.articleBtn{
    background:#38476e;
    margin-top: 1em;
    margin-left: .5em;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 10rem;
    width:15rem;
    height:3rem;
    transition: all .4s;
    z-index: 1;
    overflow: hidden;

}
*/
/*
.articleBtn:before{
    content:'';
    position: absolute;
    left: 0;
    width:0%;
    height:10%;
    background-color: white;
    transition: all .4s;
    z-index: -1;
}
.articleBtn:hover:before{
    background-color: #4988da ;
    width: 100%;
}
*/
.portfolio {
  background-image: -webkit-gradient(linear, left top, right top, from(#647094), color-stop(50%), to(#46588b));
  background-image: linear-gradient(0.25turn, #647094, 50%, #46588b);
}

.portfolio-container a img {
  border-radius: 1em;
  margin-right: 2em;
  margin-bottom: 2em;
  width: 350px;
  /* width of container */
  height: 350px;
  /* height of container */
  -o-object-fit: cover;
     object-fit: cover;
  border: .5px solid white;
  -webkit-box-shadow: 2px 2px 5px #3d3d3d;
          box-shadow: 2px 2px 5px #3d3d3d;
}

/*TESTIMONIALS*/
.tests {
  background: #5773be;
}

.testsUp {
  background-image: -webkit-gradient(linear, left top, right top, from(#647094), color-stop(50%), to(#5773be));
  background-image: linear-gradient(0.25turn, #647094, 50%, #5773be);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tests-container ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[1];
      grid-template-columns: repeat(1, auto);
  grid-gap: 1em;
  padding-left: 3em;
}

.tests-container ul li {
  background: #fdfdfd;
  -webkit-box-shadow: 2px 2px 5px #3d3d3d;
          box-shadow: 2px 2px 5px #3d3d3d;
  padding: 2em;
  height: 25em;
  width: 13em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.tests-container ul li .iconT-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.tests-container ul li .iconT-container .testImg {
  border-radius: 50%;
}

.tests-container ul li .iconT-container.one {
  width: 110px;
}

.tests-container ul li .iconT-container.two {
  width: 120px;
}

.tests-container ul li .iconT-container.three {
  width: 125px;
}

.tests-container ul li .iconT-container.four {
  width: 100px;
}

.tests-container ul li .test-title {
  font-weight: bold;
}

.tests-container ul li .featured-desc {
  margin-bottom: 2em;
  padding-top: 1em;
  color: black;
  font-size: .8em;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .contactUs {
  -ms-grid-column-align: center;
      justify-self: center;
  color: white;
}

@media only screen and (min-width: 0px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(#3a548d), color-stop(50%), to(#203b74));
    background-image: linear-gradient(0.25turn, #3a548d, 50%, #203b74);
  }
  body {
    background-image: -webkit-gradient(linear, left top, right top, from(#404558), color-stop(20%), to(#2e3455));
    background-image: linear-gradient(0.25turn, #404558, 20%, #2e3455);
  }
  .nav-container {
    background-image: -webkit-gradient(linear, left top, right top, from(#2b4885), color-stop(30%), to(#132f6d));
    background-image: linear-gradient(0.25turn, #2b4885, 30%, #132f6d);
  }
  .meet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testsUp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testsUp {
    background-image: -webkit-gradient(linear, left top, right top, from(#647094), color-stop(50%), to(#46588b));
    background-image: linear-gradient(0.25turn, #647094, 50%, #46588b);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio {
    background-image: -webkit-gradient(linear, left top, right top, from(#647094), color-stop(50%), to(#46588b));
    background-image: linear-gradient(0.25turn, #647094, 50%, #46588b);
  }
  .tests-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    grid-gap: 1em;
    padding-left: .2em;
  }
  .tests-container ul li {
    padding: 2em;
    height: 15em;
    width: 13em;
    border-radius: 1em;
    margin-bottom: 1em;
  }
  .tests-container ul li .iconT-container {
    height: 100px;
    display: -ms-grid;
    display: grid;
    place-content: center;
    margin: 0 auto;
  }
  .tests-container ul li .iconT-container .testImg {
    border-radius: 50%;
  }
  .tests-container ul li .iconT-container.one {
    width: 100px;
  }
  .tests-container ul li .iconT-container.two {
    width: 105px;
  }
  .tests-container ul li .iconT-container.three {
    width: 115px;
  }
  .tests-container ul li .iconT-container.four {
    width: 95px;
  }
  .tests-container ul li .test-title {
    font-weight: bold;
    font-size: .67em;
  }
  .tests-container ul li .featured-desc {
    margin-bottom: 2em;
    padding-top: .4em;
    font-size: .6em;
  }
}

@media only screen and (min-width: 800px) {
  .featured, .portfolio {
    text-align: left;
  }
  .featured, .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .left, .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 6em;
    padding-bottom: -60em;
  }
  .skills-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
    grid-gap: 1em;
  }
  .mission {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }
  .testsUp {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }
  .tests {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }
  .tests-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    grid-gap: 1em;
  }
  .portfolio {
    padding-top: 7em;
  }
  .portfolio-container img {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background-image: -webkit-gradient(linear, left top, right top, from(#243d72), color-stop(30%), to(#132f6d));
    background-image: linear-gradient(0.25turn, #243d72, 30%, #132f6d);
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 0;
  }
  section {
    padding: 4em;
  }
  .social-header {
    display: block;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 7em;
    float: right;
  }
  .social-header ul img {
    width: 20px;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background-image: -webkit-gradient(linear, left top, right top, from(#304779), color-stop(50%), to(#203b74));
    background-image: linear-gradient(0.25turn, #304779, 50%, #203b74);
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .meet {
    margin: unset;
  }
  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }
  .tests-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
    grid-gap: 1em;
  }
  /*SIZING OF TEST CARDS*/
  .tests-container ul li {
    padding: 2em;
    height: 20em;
    width: 10em;
    border-radius: 1em;
    margin-bottom: 1em;
  }
  .tests-container ul li .iconT-container {
    height: 100px;
    display: -ms-grid;
    display: grid;
    place-content: center;
    margin: 0 auto;
  }
  .tests-container ul li .iconT-container .testImg {
    border-radius: 50%;
  }
  .tests-container ul li .iconT-container.one {
    width: 90px;
  }
  .tests-container ul li .iconT-container.two {
    width: 100px;
  }
  .tests-container ul li .iconT-container.three {
    width: 105px;
  }
  .tests-container ul li .iconT-container.four {
    width: 90px;
  }
  .tests-container ul li .test-title {
    font-weight: bold;
    font-size: .75em;
  }
  .tests-container ul li .featured-desc {
    margin-bottom: 2em;
    padding-top: .2em;
    color: black;
    font-size: .65em;
  }
  .portfolio img {
    float: right;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1250px) {
  .meet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 2em 10em 2em 0;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .hero .content {
    background-image: -webkit-gradient(linear, left top, right top, from(#3c5281), color-stop(50%), to(#203b74));
    background-image: linear-gradient(0.25turn, #3c5281, 50%, #203b74);
    padding: 6em 8em 6em 10em;
  }
  .testsUp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tests-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
    grid-gap: 1em;
  }
  /*SIZING OF TEST CARDS*/
  .tests-container ul li {
    padding: 2em;
    height: 20em;
    width: 12em;
    border-radius: 1em;
    margin-bottom: 1em;
  }
  .tests-container ul li .iconT-container {
    height: 100px;
    display: -ms-grid;
    display: grid;
    place-content: center;
    margin: 0 auto;
  }
  .tests-container ul li .iconT-container .testImg {
    border-radius: 50%;
  }
  .tests-container ul li .iconT-container.one {
    width: 90px;
  }
  .tests-container ul li .iconT-container.two {
    width: 100px;
  }
  .tests-container ul li .iconT-container.three {
    width: 105px;
  }
  .tests-container ul li .iconT-container.four {
    width: 90px;
  }
  .tests-container ul li .test-title {
    font-weight: bold;
    font-size: .8em;
  }
  .tests-container ul li .featured-desc {
    margin-bottom: 2em;
    padding-top: .2em;
    color: black;
    font-size: .7em;
  }
}

@media only screen and (min-width: 1550px) {
  .meet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .testsUp {
    background-image: -webkit-gradient(linear, left top, right top, from(#647094), color-stop(50%), to(#5773be));
    background-image: linear-gradient(0.25turn, #647094, 50%, #5773be);
  }
  .mission {
    background-image: -webkit-gradient(linear, left top, right top, from(#4a4f68), color-stop(50%), to(#2e3455));
    background-image: linear-gradient(0.25turn, #4a4f68, 50%, #2e3455);
  }
  .portfolio {
    background-image: -webkit-gradient(linear, left top, right top, from(#647094), color-stop(50%), to(#46588b));
    background-image: linear-gradient(0.25turn, #647094, 50%, #46588b);
  }
  .body {
    background-image: -webkit-gradient(linear, left top, right top, from(#383c4e), color-stop(20%), to(#2e3455));
    background-image: linear-gradient(0.25turn, #383c4e, 20%, #2e3455);
  }
  header {
    padding: 2em 2em 2em 20em;
    background-image: -webkit-gradient(linear, left top, right top, from(#243d72), color-stop(30%), to(#132f6d));
    background-image: linear-gradient(0.25turn, #243d72, 30%, #132f6d);
  }
  .social-header {
    padding: 2em 20em 2em 0;
  }
  section {
    padding: 6em 20em 4em 20em;
  }
  .hero .content {
    padding: 9em 20em 6em 20em;
    background-image: -webkit-gradient(linear, left top, right top, from(#3c5281), color-stop(50%), to(#203b74));
    background-image: linear-gradient(0.25turn, #3c5281, 50%, #203b74);
  }
  /*SIZING OF TEST CARDS*/
  .tests-container ul li {
    padding: 2em;
    height: 20em;
    width: 15em;
    border-radius: 1em;
    margin-bottom: 1em;
  }
  .tests-container ul li .iconT-container {
    height: 100px;
    display: -ms-grid;
    display: grid;
    place-content: center;
    margin: 0 auto;
  }
  .tests-container ul li .iconT-container .testImg {
    border-radius: 50%;
  }
  .tests-container ul li .iconT-container.one {
    width: 90px;
  }
  .tests-container ul li .iconT-container.two {
    width: 100px;
  }
  .tests-container ul li .iconT-container.three {
    width: 105px;
  }
  .tests-container ul li .iconT-container.four {
    width: 90px;
  }
  .tests-container ul li .test-title {
    font-weight: bold;
    font-size: .9em;
  }
  .tests-container ul li .featured-desc {
    margin-bottom: 2em;
    padding-top: .2em;
    font-size: .8em;
  }
}

@media only screen and (max-width: 450px) {
  .hero {
    padding-bottom: 20em;
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(262px, 798px);
            transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(262px, 830px);
            transform: translate(262px, 830px);
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translate(262px, 798px);
            transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(262px, 830px);
            transform: translate(262px, 830px);
  }
}
/*# sourceMappingURL=main.css.map */